<div class="group">
  <button igxButton="raised" igxRipple routerLink="/tutor-view/dashboard" class="button">
    LOGIN
  </button>
  <img src="/assets/blueb.jpg" class="image" />
  <h1 class="h1">
    THE BLU BOOK
  </h1>
  <h4 class="h4">
    4 Students By Students
  </h4>
  <igx-input-group type="box" class="ig-typography__body-1 textarea">
    <label igxLabel>TUTOR ID</label>
    <textarea igxInput></textarea>
  </igx-input-group>
  <igx-input-group type="border" class="ig-typography__body-1 textarea_1">
    <label igxLabel>PASSWORD</label>
    <textarea igxInput></textarea>
  </igx-input-group>
</div>
