<div class="column-layout group">
  <div class="column-layout logo"></div>
  <div routerLink="/tutor-view/dashboard" class="column-layout group_1">
    <button igxButton="icon" igxRipple class="button">
      <igx-icon>
        dashboard
      </igx-icon>
    </button>
    <p class="ig-typography__overline text">
      Main
    </p>
  </div>
  <div routerLink="/tutor-view/up-skill-me" class="column-layout group_1">
    <button igxButton="icon" igxRipple class="button">
      <igx-icon>
        school
      </igx-icon>
    </button>
    <p class="ig-typography__overline text">
      UpSKill Me
    </p>
  </div>
  <div routerLink="/tutor-view/my-gig-guide" class="column-layout group_1">
    <button igxButton="icon" igxRipple class="button">
      <igx-icon>
        assignment_turned_in
      </igx-icon>
    </button>
    <p class="ig-typography__overline text">
      Tasks
    </p>
  </div>
  <div routerLink="/tutor-view/my-activity" class="column-layout group_1">
    <button igxButton="icon" igxRipple class="button">
      <igx-icon>
        assessment
      </igx-icon>
    </button>
    <p class="ig-typography__overline text">
      My Activity
    </p>
  </div>
  <div routerLink="/tutor-view/profile" class="column-layout group_1">
    <button igxButton="icon" igxRipple class="button">
      <igx-icon>
        person
      </igx-icon>
    </button>
    <p class="ig-typography__overline text">
      Profile
    </p>
  </div>
  <p class="ig-typography__overline text_1">
    The Blue Book
  </p>
</div>
<div class="view-container">
  <router-outlet></router-outlet>
</div>
